{% include 'adminheader.html' %}

<div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
  

<center>
	<form method="post" style="margin-top: 70px">
		<h1>View Attendance</h1>
		<table class="table" style="width: auto;">
			<tr>
				<th>Subject</th>

				<th>Date</th>

				<th>From Time</th>

				<th>To Time</th>
				<th>Attendance Date</th>
			</tr>
			{% for row in data['attend']%}
			<tr>
				<td>{{row['subject']}}</td>
				<td>{{row['date']}}</td>
				<td>{{row['fromtime']}}</td>
				<td>{{row['totime']}}</td>
				<td>{{row['adate']}}</td>
			</tr>
			{% endfor%}
		</table>

</form>
</center>


 </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="/static/web/images/details-1-office-worker.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->


{% include 'footer.html' %}
