{% include 'publicheader.html' %}

 <!-- Details 1 -->
    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <!-- <h2>Design And Plan Your Business Growth Steps</h2>
                        <p>Use our staff and our expertise to design and plan your business growth strategy. Evolo team is eager to advise you on the best opportunities that you should look into</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">LIGHTBOX</a> -->


<form method="post">
	<center>
		<h1>LOGIN</h1>
		<table class="table">
			<tr>
				<th>username</th>
				<td><input type="text" name="un" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>password</th>
				<td><input type="password" name="pa" required="" class="form-control"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="login" value="LOGIN" class="btn btn-success"></td>
			</tr>
		</table>
	</center>
</form>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="/static/web/images/details-1-office-worker.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->


{% include 'footer.html' %}